<div class="slider">
    R
    <mat-slider min="0" max="255" step="1" (change)="ColorChange('r', $event)" [(value)]="red"></mat-slider>
    <br>
    G
    <mat-slider min="0" max="255" step="1" (change)="ColorChange('g', $event)" [(value)]="green"></mat-slider>
    <br>
    B
    <mat-slider min="0" max="255" step="1" (change)="ColorChange('b', $event)" [(value)]="blue"></mat-slider>
    <br>
</div>


<div class="color" [ngStyle]="{'background-color': getColorAsString()}"></div>

<button mat-button (click)="submit()">submit</button>

<button mat-button (click)="off()">off</button>